<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Lato:300i,400" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
	 crossorigin="anonymous">
	<link rel="icon" type="image/png" sizes="32x32" href="../img/favicon-32x32.png">
	<script src="../scripts/auth.js"></script>
	<title>Ride My Way | Home</title>
</head>

<body>
	<header class="header">
		<a href="../index.html" class="brand">Ride My Way</a>
		<input class="menu-btn" type="checkbox" id="menu-btn" />
		<label class="menu-icon" for="menu-btn">
			<span class="navicon"></span>
		</label>
		<nav>
			<ul class="menu">
				<li>
					<a href="profile.html">Profile</a>
				</li>
				<li>
					<a id="sign-out">Sign Out</a>
				</li>
			</ul>
		</nav>
	</header>

	<main class="site_main">
		<div class="container">
			<div class="form-header">
				<h1>Driver Dashboard</h1>
			</div>
			<div class="feauture-row">
				<div class="feature-card col-lg-6">
					<h2>
						<a href="offer-ride.html">OFFER RIDE</a>
					</h2>
				</div>
				<div class="feature-card col-lg-6">
					<h2>
						<a href="viewrides.html">RIDE STATUS</a>
					</h2>
				</div>
			</div>

			<div class="requests-container">
				<div class="form-header">
					<h1>Ride Status</h1>
				</div>

				<div class="table-container">
					<table class="table">
						<tr class="row">
							<th>Take-off location</th>
							<th>Destination</th>
							<th>Departure time</th>
							<th>Departure date</th>
							<th>Seat Available</th>
							<th>Requests</th>
						</tr>
						<tr class="row">
							<td>Iyanu-Ipaja</td>
							<td>Ilupeju</td>
							<td>14:00</td>
							<td>15-6-2018</td>
							<td>2</td>
							<td>
								<a href="ride-requests.html" class="button">View Requests</a>
							</td>
						</tr>
						<tr class="row">
							<td>Ikoyi</td>
							<td>Gbagada</td>
							<td>16:00</td>
							<td>11-6-2018</td>
							<td>1</td>
							<td>
								<a href="ride-requests.html" class="button">View Requests</a>
							</td>
						</tr>
						<tr class="row">
							<td>Mushin</td>
							<td>Akoka</td>
							<td>17:00</td>
							<td>21-6-2018</td>
							<td>3</td>
							<td>
								<a href="ride-requests.html" class="button">View Requests</a>
							</td>
						</tr>
						<tr class="row">
							<td>Ikeja</td>
							<td>Berger</td>
							<td>13:00</td>
							<td>26-6-2018</td>
							<td>2</td>
							<td>
								<a href="ride-requests.html" class="button">View Requests</a>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</main>

	<footer>
		<p>Ride My Way | Copyright &copy; 2018</p>
	</footer>
	<script src="../scripts/auth.js"></script>
</body>

</html>